:root {
  --custom-color-one: #d300b7;
  --custom-color-two: #f0f0f0;
  --custom-color-three: #d755ff;
  --custom-color-four: #7a3677;
  --darker-color: #ffc5f5;
  --whiter-color: #000;
}

body {
  background-color: var(--custom-color-four);
  background-size: 100%;
  text-align: center;
}

.my-grid {
  width: 95%;
  margin: auto;
  backdrop-filter: blur(20px);
  box-shadow: 0px 0px 30px black;
  font-family: "Poppins", sans-serif;

  max-height: 67vh; /* Adjust height limit as needed */
  overflow-y: auto; /* Enables vertical scrolling */
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  color: var(--darker-color);
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  margin: 1rem;
  padding: 10px;
  background: linear-gradient(
    to right,
    var(--custom-color-one),
    var(--custom-color-four)
  );
  display: inline-block;
  border-radius: 10px;
  padding: 15px 30px;
}

footer {
  padding-top: 10px;
  color: white;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 1rem;
}

.button-container a {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  background: linear-gradient(
    to right,
    var(--custom-color-one),
    var(--custom-color-four)
  );
  color: white;
  text-decoration: none;
  padding: 12px 25px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.button-container a:hover {
  background: linear-gradient(to right, #39b7ad, #2b5e8d);
  transform: translateY(-3px);
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.3);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: var(--custom-color-four);
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background-color: var(--darker-color);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: var(--custom-color-one);
  color: white;
}

th,
td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: right;
}

td button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

tr {
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.137),
    rgba(255, 255, 255, 0.459)
  );
}

tr :nth-child(1) {
  font-weight: bold;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: top;
  padding: 2rem;
}

.style-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--custom-color-three);
  padding: 1.5rem 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin: 1rem;
}

.style-form input {
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: border-color 0.2s, box-shadow 0.2s;
  background-color: var(--darker-color);
}

.style-form input:focus {
  outline: none;
  border-color: var(--custom-color-one);
  box-shadow: 0 0 5px rgba(90, 141, 238, 0.4);
}

.style-form button {
  padding: 0.6rem 1rem;
  background: linear-gradient(
    to right,
    var(--custom-color-one),
    var(--custom-color-four)
  );
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.style-form button[type="submit"]:hover {
  background-color: var(--custom-color-one);
  transform: scale(1.03);
}

input,
select,
button {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid var(--darker-color);
}

/* WebKit browsers (Chrome, Edge, Safari) */
.my-grid::-webkit-scrollbar {
  width: 10px;
}

.my-grid::-webkit-scrollbar-track {
  background: var(--darker-color);
  border-radius: 5px;
}

.my-grid::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    var(--custom-color-one),
    var(--custom-color-four)
  );
  border-radius: 5px;
  border: 2px solid var(--custom-color-three);
}

.my-grid::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    var(--custom-color-one),
    var(--custom-color-four)
  );
}

@media only screen and (max-width: 800px) {
  .style-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--custom-color-three);
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  max-width: 200px;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 1rem;
}
}